<h1>Carrito de <%= current_user.nombre %></h1>
<div>
	<table class="table table-striped table-hover">
		<tr>
			<th>Artículo</th>
			<th>Precio</th>
			<th>Cantidad</th>
		</tr>
		<% @discos.each do |disco| %>
			<tr>
				<td><%= disco.nombre %></td>
				<td><%= disco.precio %></td>
				<td>1</td>
			</tr>
		<% end %>
	</table>
	<%= link_to "Comprar", @discos.first.multiple_paypal_url(disco_path(@discos.first), @total) %>

</div>
