<!DOCTYPE html>
<html>
	<head>
		
	</head>
	<body>
		<h1> El nuevo disco agregado a nuestro cátalogo es <%= @disco.nombre %></h1>
		
		<%= Time.now.strftime("%m/%d/%Y") %>
	</body>
</html>>
