<h1>Poltica de privacidad</h1>
<div class="container" style="max-width: 80%; min-width: 60%">
	<h2>Datos personales que recopilamos</h2>
	<p>Para poder garantizar nuestro mejor servicio y eficacia, ClaveCromática recopila y almacena datos proporcionados directa o indirectamente por nuestros clientes. Entre los datos que recopilamos se encuentran el correo electrónico, nombre y domicilio, que son datos que usted como cliente proporciona directamente. Además registramos datos de las compras que realiza para monitorear los movimientos y llevar un registro en caso de la necesidad de una devolución.
	ClaveCromática también pudiera recopilar otra información relativa a usted, como su IP de procedencia, el tipo de navegador o el idioma. Estos datos son utilizados para ofrecer un perfil más adecuado a nuestros usuarios y generar estadísticas.
	</p>
	<h2>Como usamos sus datos personales</h2>
	<p>ClaveCromática utiliza sus datos sólo para ofrecerle un mejor servicio, no guardamos datos que no sean relevantes para nuestro servicio ni compartimos datos que nos proporcione. El correo electrónico y la contraseña son almacenados para que usted pueda autenticarse en el sistema, además de recibir si así lo desea un boletín periódico con información de nuestro servicio. Mientras que la dirección es necesaria para el servicio de paquetería.
	ClaveCromática se reserva el derecho de poder remitir por cualquier medio electrónico a sus usuarios notificaciones, avisos y/o noticias relacionadas con el servicio.
	Siempre que un usuario postee un comentario públicamente, éste estará disponible para el público en general. La ClaveCromatica no se hace responsable de la información confidencial propia publicada por un mismo usuario en el Sitio Web, siendo el usuario el único responsable de lo que publica.
	ClaveCromatica se reserva el derecho de poder realizar cambios en esta Política de Privacidad, los cuales serán publicados para que nuestros usuarios y visitantes tengan constancia de los mismos. Los usuarios del Sitio Web quedarán sujetos a la nueva Política de Privacidad cuando entren en vigor en el sitio.
	</p>
</div>
