<h1>Política de devoluciones</h1>
<div class="container" style="min-width: 60%; max-width: 80%">
	<h2>Para productos físicos</h2>
	<p>Para realizar la devolución de un articulo comprado en Clavecromática es necesario que dicho articulo se encunetre en buenas condiciones, excepto en el caso en que llegue dañado de la paquetería.
		El artículo no podrá ser devuelto si el cliente ha modificado o dañaado el producto.
		El cliente tiene un lapso de 15 días para pedir una devolución.
		El cliente recibirá un producto igual a cambio del producto regresado, en caso que dicho producto no se encuentre en existencia el cliente podrá recibir un producto de precio similar o menor.
		El cliente pagará la tarifa de envío.
		</p>
	<h2>Para productos digitales</h2>
	<p>No se pueden hacer devoluciones sobre productos digitales adquridos a través de la tienda Clavecromática.</p>
</div>
